body{background-color: rgb(255,0,162);}
.paragraph1 {background-color: red; font-size: 50px ; color: White ; font-family: 'Montserrat', sans-serif;
}
.paragraph2 {font-family: 'Charmonman', cursive;
}
.fab {font-size: 200px ; color: yellow;}